In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
file_path = './Data'
file_list = os.listdir(file_path)

In [3]:
file_list

['gender_submission.csv', 'test.csv', 'train.csv']

In [4]:
train = pd.read_csv('./Data/train.csv')
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [6]:
test = pd.read_csv('./Data/test.csv')
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [7]:
train['Sex'] = train['Sex'].replace({'male':0,'female':1})
test['Sex'] = test['Sex'].replace({'male':0,'female':1})

In [8]:
train['Family'] = train['SibSp'] + train['Parch']
test['Family'] = test['SibSp'] + test['Parch']

In [10]:
tmp = pd. concat([train['Ticket'],test['Ticket']],ignore_index=True)

In [11]:
tmp = tmp.value_counts()

In [12]:
train['ticket_enc'] = train['Ticket'].map(tmp)
test['ticket_enc'] = test['Ticket'].map(tmp)

In [14]:
train_tmp = pd.get_dummies(['Embarked'])
test_tmp = pd.get_dummies(['Embarked'])

In [16]:
train = pd.concat([train,train_tmp],axis=1)
test = pd.concat([test,test_tmp],axis=1)

In [17]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family,ticket_enc,Embarked,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,1,1,1.0,1.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,1,2,NaN,NaN
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,1,2,NaN,NaN
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,0,1,NaN,NaN

In [34]:
from sklearn.model_selection import StratifiedKFold
import lightgbm as lgb

In [20]:
split = StratifiedKFold(n_splits=5,shuffle=True,random_state=42)

In [21]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Family,ticket_enc,Embarked,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S,1,1,1.0,1.0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C,1,2,NaN,NaN
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,0,1,NaN,NaN
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S,1,2,NaN,NaN
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S,0,1,NaN,NaN

In [22]:
feature = [c for c in train.columns if c not in
["PassengerId",'Survived','Name','Ticket','Cabin','Embarked']]

In [23]:
oof_pred = np.zeros(train.shape[0])
sub_pred = np.zeros(test.shape[0])

In [36]:
params = ['objective':'binary',
          'metric':'binary_logloss',
          'max_depth':5,
          'learning_rate':0.1,
          'random_state':42]

SyntaxError: invalid syntax (<ipython-input-36-d9d6698bb9c7>, line 1)

In [37]:
sp = split.split(train,train['Survived'])

for n,(trn_idx, val_idx) in enumerate(sp):
    trn_X, trn_y = train[feature].iloc[trn_idx],train['Survived'].iloc[trn_idx]
    val_X, trn_y = train[feature].iloc[trn_idx],train['Survived'].iloc[val_idx]

    trn = lgb.Dataset(trn_X,label=trn_y)
    val = lgb.Dataset(val_X,label=val_y,reference=trn)

    print('Fold %i'%(n+1))
    clf = lgb.train(params,trn,valid_sets=[trn,val],early_stopping_rounds=10,verbose_eval=10)

    oof_pred[val_idx] = clf.predict(val_X,num_iteration=clf.best_iteration)
    sub_pred += 0.2 * clf.predict(test[feature],num_iteration=clf.best_iteration)
    print('*'*50)

NameError: name 'val_y' is not defined

In [ ]:
from sklearn.metrics import accuracy_score

In [32]:
pred = np.where(oof_pred>0.5,1,0)

In [33]:
accuracy_score(train['Survived'],pred)

NameError: name 'accuracy_score' is not defined